.git/
.github/
**/bin/
**/obj/
**/TestResults/

SecondDimensionWatcherReDive.Client/.parcel-cache/
SecondDimensionWatcherReDive.Client/.yarn/cache/
SecondDimensionWatcherReDive.Client/.yarn/unplugged/
SecondDimensionWatcherReDive.Client/.yarn/install-state.gz
SecondDimensionWatcherReDive.Client/.pnp.*
SecondDimensionWatcherReDive.Client/dist/
SecondDimensionWatcherReDive.Client/playwright-report/
SecondDimensionWatcherReDive.Client/test-results/

SecondDimensionWatcherReDive/wwwroot/
dist/
publish/
publish-fuse*/
